h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}
.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #fff;
  letter-spacing: 0.02em;
}
input {
  font-family: inherit;
}
button {
  font-family: inherit;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.15; /* 150% */
  letter-spacing: 0.04em;
  padding: 16px;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.contacts {
  display: none;
  font-style: normal;
}

/*-------------------------  Mobile Header ----------------------*/
@media screen and (max-width: 767px) {
  .container {
    max-width: 767px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .list-nav,
  .contacts-menu {
    display: none;
  }
  .head-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 16px 16px;
  }
  .text-logo {
    color: #2e2f42;
  }
  .logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
}
/*-----------------------Tablet Header------------------*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mobile-menu-open-btn {
    display: none;
  }
  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .head-cont {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }
  .header-menu {
    display: flex;
    align-items: center;
  }
  .logo-container {
    margin-right: 76px;
  }
  .logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .text-logo {
    color: #2e2f42;
  }
  .link-nav {
    color: #2e2f42;
    font-weight: 500;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-nav:last-child {
    margin: 0;
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .contacts {
    display: flex;
    align-items: center;
  }
  .contacts-menu {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    flex-direction: column;
  }
  .link-contacts {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-nav {
    display: flex;
    gap: 40px;
  }
}
/*------------------Desktop Header----------------*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .head-cont {
    max-width: 1122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-menu {
    display: flex;
    align-items: center;
  }
  .logo-conteiner {
    margin-right: 76px;
  }
  .logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .text-logo {
    color: #2e2f42;
  }
  .link-nav {
    color: #2e2f42;
    font-weight: 500;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-nav:last-child {
    margin: 0;
  }
  .link-nav:hover,
  .link-nav:focus,
  .link-nav:active {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
  }
  .current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .contacts {
    font-style: normal;
    display: flex;
    gap: 40px;
  }
  .contacts-menu {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    flex-direction: row;
    padding: 24px 0 24px 0;
  }
  .link-contacts {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-contacts:hover {
    color: #404bbf;
  }
  .link-contacts:focus {
    color: #404bbf;
  }
}

/*------------------------Mobile Hero----------------*/
@media screen and (max-width: 767px) {
  .hero {
    padding: 72px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/imagesm/Dark-bg-m.jpg");
    background-size: cover;
    max-width: 767px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 96px;
  }
  @media screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/imagesm/Dark-bg-m@2x.jpg");
    }
  }
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero-title {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
    text-transform: capitalize;
  }
  .hero-button {
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/*---------------------Tablet Hero---------------*/
@media screen and (min-width: 768px) {
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/imagesm/Dark-bg-tablet.jpg");
    background-size: cover;
    max-width: 1157px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 96px;
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/imagesm/Dark-bg-tablet@2x.jpg");
    }
  }
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero-title {
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
    text-transform: capitalize;
  }
  .hero-button {
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/*----------------Desktop Hero-------------*/
@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/img-people-office.jpg");
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 120px auto;
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/imagesm/people-office@2x.jpg");
    }
  }
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero-title {
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
  }
  .hero-button {
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-button:hover,
  .hero-button:focus {
    background-color: #404bbf;
  }
}
/*------------------Mobile Benefits-------------*/

@media screen and (max-width: 767px) {
  .benefits {
    max-width: 735px;
    margin-bottom: 96px;
  }
  .benef-list-title {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: 8px;
    text-align: center;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .benefits-title {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
    max-width: 737px;
  }
  .benefits-title-list-link {
    display: none;
  }
  .benefits-title-list {
    max-width: 400px;
  }
  .benef-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
}
/*-----------------------Tablet Benefits--------------*/
@media screen and (min-width: 768px) {
  .benefits {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    margin-bottom: 96px;
  }
  .benef-list-title {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: 8px;
  }
  .benefits-title-list-link {
    display: none;
  }
  .benefits-title {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .benefits-title-list {
    width: calc((100% - 24px) / 2);
  }
  .benef-list-title {
    margin-bottom: 8px;
  }
  .benef-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
}
/*-------------------Desktop Benefits-----------------*/
@media screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }
  .benefits-item {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .benefits-title {
    display: flex;
    gap: 24px;
  }
  .benefits-title-list {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .benefits-title-list:last-child {
    margin-right: 0;
  }
  .benef-list-title {
    margin-bottom: 8px;
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .benef-list-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
  }
  .benefits-title-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }
}
/* ----------------------------Mobile-Our-Team--------------------------------- */
.our-team {
  background-color: #f4f4fd;
  margin: 0 auto;
}
.sectoin-title-team {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.list-our-team {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 264px;
  margin: 0 auto;
}
.our-team-person-container {
  padding: 32px 0;
}
.list-team-container {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}
.list-text-container {
  color: #434455;
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
}
.menu-team-icons {
  justify-content: center;
  gap: 24px;
  display: flex;
  align-items: center;
}
.team-list-icons {
  width: 40px;
  height: 40px;
}
.team-link {
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-social-links {
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.team-link-icons {
  display: flex;
  align-items: center;
  justify-content: center;

  fill: #f4f4fd;
}
@media screen and (max-width: 767px) {
  .our-team {
    padding: 96px 0;
  }
  .title-our-team {
    display: block;
    align-items: center;
  }
  .list-our-team {
    margin-bottom: 72px;
  }
  .list-our-team:last-child {
    margin-bottom: 0px;
  }
}
/* Tablet our team */
@media screen and (min-width: 768px) {
  .our-team {
    padding: 96px 0;
  }

  .title-our-team {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
    width: 596px;
    margin: 0 auto;
  }
}
/* ------------Desk our team */
@media screen and (min-width: 1158px) {
  .our-team {
    background-color: #f4f4fd;
    padding: 120px 0;
  }
  .our-team-container {
    width: 1128px;
    margin: 0 auto;
  }

  .title-our-team {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .team-link:hover,
  .team-link:focus {
    background-color: #404bbf;
  }
}

/* -----------------Mobile Our Portfolio-------------------- */
.our-portfolio {
  color: #2e2f42;
  background-color: #ffffff;
}
.sectoin-title-portfolio {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-portfolio {
  margin-left: 0px;
  width: calc((100% - 48px) / 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-images {
  position: relative;
  overflow: hidden;
  max-width: 360px;
}
.portfolio-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 360px;
}
.list-portfolio:hover .portfolio-text,
.list-portfolio:focus .portfolio-text {
  transform: translateY(0%);
}
.portfilio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.list-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: left;
}
.list-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .our-portfolio {
    padding: 96px 0;
  }
  .title-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
    max-width: 360px;
    margin: 0 auto;
  }
  .list-portfolio {
    width: 288px;
  }
}
/* -------------------Tablet Our Portfolio------------------- */
@media screen and (min-width: 768px) {
  .our-portfolio {
    padding: 96px 0;
  }
  .container-our-portfolio {
    display: inline;
    justify-content: center;
  }
  .title-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    margin: 0 auto;
  }
  .list-portfolio {
    margin-left: 0px;
    width: calc((100% - 48px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 380px;
  }
  .list-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}
/* ----------------------Desktop Our Portfolio-------------- */
@media screen and (min-width: 1158px) {
  .container-our-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1128px;
  }
  .title-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 48px;
  }
  .list-portfolio {
    margin-left: 0px;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 360px;
  }
}

/*---------------- Mobale Footer-------------------- */
.end {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}
.end-link-icons {
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.end-link-list-icons {
  fill: #f4f4fd;
}
.end-link-icons:hover,
.end-link-icons:focus {
  background-color: #31d0aa;
}
.end-logo-list {
  width: 40px;
  height: 40px;
}
.end-logo {
  color: #f4f4fd;
}
.end.text {
  color: #f4f4fd;
}
.social {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.form-button-footer {
  width: 162px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.form-button-icon {
  margin-left: 16px;
  fill: #fff;
}

.logo-cont {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.end-footer {
  margin-bottom: 72px;
}
.end-text {
  text-align: left;
  color: #f4f4fd;
}
.end-wrap {
  margin-bottom: 72px;
}
.social {
  margin-bottom: 16px;
}
.end-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.text-form {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.form-input {
  margin-bottom: 16px;
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
input::placeholder {
  color: #ffffff;
}
.form-label-footer {
  display: inline-block;
  width: 100%;
}
.form-input {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .end {
    background-color: #2e2f42;

    text-align: left;
  }
  .end-cont {
    max-width: 582px;
  }
  .logo-cont {
    display: inline-block;
    margin-bottom: 16px;
  }
  .end-footer {
    margin-bottom: 0;
    width: 264px;
  }
  .end-text {
    text-align: left;
    color: #f4f4fd;
  }
  .end-wrap {
    margin-bottom: 72px;
    display: flex;
    gap: 24px;
  }
  .social {
    margin-bottom: 16px;
  }
  .end-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .text-form {
    margin-bottom: 16px;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .form-input {
    margin-bottom: 0;
  }
  .form-label-footer {
    display: inline-block;
    width: 264px;
  }
  .form-input {
    width: 100%;
  }
}

@media screen and (min-width: 1158px) {
  .end-wrap {
    min-width: 584px;
    justify-content: flex-start;
  }
  .end-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .end-footer {
    max-width: 264px;
  }
  .end-wrap {
    margin: 0 auto;
    max-width: 1288px;
    padding: 0 16px;
  }
}
/*-------------------Mobaile MW---------------------*/
.window-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.window-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.window-button:hover,
.window-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.button-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.container-form {
  margin-bottom: 8px;
}
.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.input-icon {
  position: relative;
}
.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: rgba(46, 47, 66, 0.4);
  padding-left: 38px;
}
.input:focus {
  border-color: #4d5ae5;
}
.icon-person {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus + svg {
  fill: #4d5ae5;
}
.container-form-textarea {
  margin-bottom: 16px;
}
.textarea-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-modal:focus {
  border-color: #4d5ae5;
}
.checkbox-container {
  margin-bottom: 24px;
  display: flex;
}
.form-label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
input:checked + .form-label-checkbox > .form-label-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-policy {
  color: #4d5ae5;
  text-decoration-line: underline;
}
.form-button {
  display: block;
  margin: 0 auto;
  min-width: 168px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .modal-window {
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 16px 24px;
  }
}
/*--------------------Mob Menu-------------*/

.mobile-menu-wraper-container {
  position: absolute;
}

.mobile-menu-wraper-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-wraper-btn-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-wraper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  background-color: #fff;
  transform: translateX(100%);
  padding: 0 24px 40px 16px;
}
.mobile-menu-wraper.is-open {
  transform: translateX(0%);
  transition: 250ms;
}
.mobile-nav {
  margin-bottom: 168px;
}
.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 72px;
  margin-bottom: auto;
}

.mobile-menu-item {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em; /* 111.111% */
  color: #2e2f42;
}

.mobile-menu-item:focus {
  color: #404bbf;
}
.mobile-address {
}
.mobile-adress-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-adress-list {
}
.mobile-address {
  margin-bottom: 48px;
}
.mobile-address-contact {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.12em; /* 120% */
  color: #434455;
}
.mobile-address-contact:focus {
  color: #404bbf;
}

.container-adress-social-links {
  display: flex;
  flex-direction: column;
}
.mobile-wraper-social-icons {
  display: flex;
  gap: 40px;
}
.mobile-wraper-container-social-links {
  display: flex;
}

.mobile-wraper-social-links {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-social-icons {
}
.list-social-icons {
  width: 40px;
  height: 40px;
}
.social-links {
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links:hover,
.social-links:focus {
  background-color: #404bbf;
}
.social-links-icons {
  fill: #f4f4fd;
}
