h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #fff;
  letter-spacing: 0.02em;
}
input {
  font-family: inherit;
}
button {
  font-family: inherit;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.15; /* 150% */
  letter-spacing: 0.04em;
  padding: 16px;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 120px 0 120px 0 120px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.head-cont {
  display: flex;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  align-items: center;
}
.contacts-menu {
  display: flex;
  gap: 40px;
}
.link-contacts-menu {
  display: flex;
  justify-content: flex-end;
}

/*Logo Style*/
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-link {
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.current {
  position: relative;
  color: #404bbf;
}
.logo-link:hover,
.logo-link:focus {
  color: #404bbf;
}

.text-logo {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*Nav Style*/
.list-nav {
  display: flex;
  gap: 40px;
}
.link-nav {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

/*Address Style*/
.contacts {
  font-style: normal;
  display: flex;
}

.link-contacts {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}

.link-contacts:hover,
.link-contacts:focus {
  color: #404bbf;
}

.link-contacts-menu {
  display: block;
  padding-bottom: 24px;
  padding-top: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts-menu:hover,
.link-contacts-menu:focus {
  color: #404bbf;
}

/*Hero*/
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-button {
  display: block;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/*Benefits*/
.benefits {
  padding: 120px 0;
}
.benefits-item {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-title {
  display: flex;
  gap: 24px;
}
.benefits-title-list {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.benefits-title-list:last-child {
  margin-right: 0;
}
.list-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.list-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.benefits-title-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

/*Our Team*/
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.sectoin-title-team {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.title-our-team {
  display: flex;
  gap: 24px;
}
.our-team-it {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.title-container {
  padding: 32px 0;
}
.list-team-container {
  text-align: center;
  margin-bottom: 8px;
}
.list-text-container {
  text-align: center;
}
.list-our-team {
  background-color: #ffffff;
}
.menu-team-icons {
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.team-list-icons {
  width: 40px;
  height: 40px;
}
.team-link {
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link-icons {
  fill: #f4f4fd;
}
.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}
/*Our Portfolio*/
.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.sectoin-title-portfolio {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.title-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.list-portfolio {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
}
.list-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-portfolio:hover .portfolio-text,
.list-portfolio:focus .portfolio-text {
  transform: translateY(0%);
}
.portfilio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-images {
  position: relative;
  overflow: hidden;
}
.portfolio-text {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
}

/*Footer*/
.end {
  background-color: #2e2f42;
  padding: 100px 0;
  display: flex;
}
.logo-cont {
  margin-bottom: 16px;
  display: inline-block;
}
.end-logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.end-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-cont {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.end-cont {
  display: flex;
  align-items: baseline;
}
.social {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.end-list {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 32px;
  justify-content: center;
}
.end-footer {
  margin-right: 120px;
}
.end-logo-list {
  width: 40px;
  height: 40px;
}
.end-link-icons {
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.end-link-list-icons {
  fill: #f4f4fd;
}
.end-link-icons:hover,
.end-link-icons:focus {
  background-color: #31d0aa;
}
/*FOOTER FORM*/
.footer-form-container {
  display: block;
  margin-left: 80px;
}
.text-form {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  line-height: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.input::placeholder {
  color: #ffffff;
}
.form-button-footer {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.form-button-footer:hover,
.form-button-footer:focus {
  background-color: #404bbf;
}
.form-button-icon {
  margin-left: 16px;
  fill: #fff;
}
.form-label {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
/* ==========================    MODAL WINDOW     ================================== */
.window-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.window-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.window-button:hover,
.window-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.button-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.container-form {
  margin-bottom: 8px;
}
.form-label-footer {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.input-icon {
  position: relative;
}
.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: rgba(46, 47, 66, 0.4);
  padding-left: 38px;
}
.input:focus {
  border-color: #4d5ae5;
}
.icon-person {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus + svg {
  fill: #4d5ae5;
}
.container-form-textarea {
  margin-bottom: 16px;
}
.textarea-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-modal:focus {
  border-color: #4d5ae5;
}
.checkbox-container {
  margin-bottom: 24px;
  display: flex;
}
.form-label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
input:checked + .form-label-checkbox > .form-label-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-policy {
  color: #4d5ae5;
  text-decoration-line: underline;
}
.form-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
